#!/usr/bin/env bash

set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

function install_krew_packages() {
{{- range fromJson (includeTemplate "helpers/packages" (list . "krews")) }}
/home/linuxbrew/.linuxbrew/bin/kubectl-krew install {{ . }}
{{- end }}
}

function uninstall_krew_packages() {
    rm -rf "${HOME}/.krew"
}

function main() {
    install_krew_packages
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
