#!/usr/bin/env bash

set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

{{ $snapPackages := fromJson (includeTemplate "helpers/packages" (list . "snaps")) -}}
function install_snap_packages() {
echo "install snap packages"
{{- range $snapPackages }}
snap install {{ . }} --classic
{{- end }}
}

function uninstall_snap_packages() {
echo "remove snap packages"
{{- range $snapPackages }}
snap remove {{ . }}
{{- end }}
}

function main() {
    install_snap_packages
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
