{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
{{     if eq .system "perso" -}}
{{       include "../install/ubuntu/perso/node.sh" }}
{{     end -}}
{{   else -}}
       echo "Invalid linux distribution: {{ .chezmoi.osRelease.id }}"
{{   end -}}
{{ end -}}