{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
{{     if eq .system "perso" -}}
{{       includeTemplate "../install/ubuntu/perso/nerdfont.sh.tmpl" . }}
{{     end -}}
{{   else -}}
       echo "Invalid linux distribution: {{ .chezmoi.osRelease.id }}"
{{   end -}}
{{ end -}}
